{
    "presets":[["@babel/preset-env", {
        "targets": {
          "node": "current"
        }
      }]],
    "plugins":[
        "@babel/plugin-transform-runtime","@babel/plugin-proposal-export-namespace-from",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties",{"loose":true}]
    ]
}